@page
@model web.Pages.Productos.ProductosModel
@{
    ViewData["Title"] = "Productos";
    Layout = "~/Pages/_Layout.cshtml";
}
@section Scripts {
    <script src="~/dist/productosApp.bundle.js" type="text/javascript"></script>
}
@Html.Partial("_KoGlobalTemplates")
@Html.Partial("_ConfirmDeleteModal")

<h2>Productos</h2>

<div class="mt-5" id="productosModel">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Folio</th>
                <th scope="col">Nombre</th>
                <th scope="col">Color</th>
                <th scope="col">Unidad</th>
                <th scope="col"><a class="btn btn-light btn-block" data-bind="attr: { href: 'Producto' }">Nuevo Producto</a></th>
            </tr>
        </thead>
        <tbody>
            <!-- ko foreach: productos -->
            <tr>
                <td data-bind="text: folio"></td>
                <td data-bind="text: nombre"></td>
                <td data-bind="text: color"></td>
                <td data-bind="text: unidad"></td>
                <td>
                    <button class="btn btn-light btn-block" data-bind="click: $parent.delete.bind($parent)">Borrar</button>
                    <a class="btn btn-secondary btn-block" data-bind="attr: { href: 'Producto?id=' + id }">Editar</a>
                    <a class="btn btn-secondary btn-block" data-bind="attr: { href: 'ProductoVer?id=' + id }">Ver</a>
                </td>
            </tr>
            <!-- /ko -->
        </tbody>
    </table>
    <div data-bind="if: showPagination">
        <!-- ko template: { name: "pagination", data: $data} -->
        <!-- /ko -->
    </div>
</div>
