@page
@model web.Pages.Productos.ProductosQRModel
@{
    ViewData["Title"] = "ProductosQR";
    Layout = "~/Pages/_Layout.cshtml";
}
@section Scripts {
    <script src="~/dist/productosQRApp.bundle.js" type="text/javascript"></script>
}
@Html.Partial("_KoGlobalTemplates")

<h2>Ingresar rango de folios:</h2>

<div id="productosQRModel" class="mt-4">
    <form class="form-inline">
        <label class="sr-only">Desde</label>
        <div class="input-group mb-2 mr-sm-2">
            <div class="input-group-prepend">
                <div class="input-group-text">Desde</div>
            </div>
            <input type="text" class="form-control" placeholder="Folio" data-bind="value: desde.value, css: { 'is-invalid': desde.hasError() }, hasFocus: true" />
            <!-- ko  template: { name: "Validation", data: desde } -->
            <!-- /ko -->
        </div>

        <label class="sr-only">Hasta</label>
        <div class="input-group mb-2 mr-sm-2">
            <div class="input-group-prepend">
                <div class="input-group-text">Hasta</div>
            </div>
            <input type="text" class="form-control" placeholder="Folio" data-bind="value: hasta.value, css: { 'is-invalid': hasta.hasError() }" />
            <!-- ko  template: { name: "Validation", data: hasta } -->
            <!-- /ko -->
        </div>

        <button class="btn btn-primary mb-2 mr-2" data-bind="click: getAll">Buscar</button>
        <button class="btn btn-primary mb-2" data-bind="click: print">Imprimir</button>

    </form>

    <div id="printableArea" class="mt-5">
       
        <div>
            <!-- ko foreach: productos -->
            <div style="border: 2px dashed black; margin: 3px; padding: 3px; display:inline-grid">
                <div data-bind="template: { name: 'qrTemplate',
                        data: $data,
                        afterRender: $root.getQR },
                        "></div>
            </div>
            <!-- /ko -->
        </div>
       
    </div>

</div>

<script id="qrTemplate" type="text/html">
    <div data-bind="attr: { id: folio }"></div>
    
    Folio: <span style="display:inline" data-bind="text: folio"></span>
   
</script>