@page
@model web.Pages.Stock.StockModel
@{
    ViewData["Title"] = "Stock";
    Layout = "~/Pages/_Layout.cshtml";
}
@section Scripts {
    <script src="~/dist/stockApp.bundle.js" type="text/javascript"></script>
    <script src="~/lib/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    <script src="~/lib/knockout/knockout-jqAutocomplete.js"></script>
}
@Html.Partial("_KoGlobalTemplates")

<h2>Stock</h2>

<div id="stockModel">
    <form data-bind="submit: save" novalidate>
        <div class="row">
            <div class="col-md-9"></div>
            <div class="col-md-3">
                <label><strong>Fecha</strong></label>
                <input class="form-control" type="text" data-bind="value: dateFormatter(fecha)" disabled>
            </div>
        </div>
        <div class="form-group">
            <label><strong>Producto *</strong></label>
            <input type="text" class="form-control" placeholder="Buscar y seleccionar nombre del producto" data-bind="jqAuto: { source: productoRemoteHandler, value: productoRemoteValue, inputProp: 'nombre', labelProp: 'nombre', valueProp: 'id', template: 'productoTmpl' }, hasFocus: true, css: { 'is-invalid': productoHasError() }" />
            <!-- ko if: productoHasError() -->
            <div class="invalid-feedback">Seleccione un producto.</div>
            <!-- /ko  -->
        </div>
        <div class="form-group">
            <label><strong>Cantidad *</strong></label>
            <input type="text" class="form-control" placeholder="Cantidad" data-bind="value: cantidad.value, css: { 'is-invalid': cantidad.hasError() }" />
            <!-- ko template: { name: "Validation", data: cantidad } -->
            <!-- /ko -->
        </div>
        <div class="form-group">
            <label><strong>Precio *</strong></label>
            <input type="text" class="form-control" placeholder="Precio" data-bind="value: precio.value, css: { 'is-invalid': precio.hasError() }" />
            <!-- ko template: { name: "Validation", data: precio } -->
            <!-- /ko -->
        </div>

        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck1" data-bind="checked: modificaStock">
            <label class="custom-control-label" for="customCheck1">Modifica stock</label>
        </div>

        <div data-bind="if: modificaStock" class="mt-2">
            <label>Tipo de recibo:</label>
            <br />
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadio1" name="customRadio" value="recibo" class="custom-control-input" data-bind="checked: display">
                <label class="custom-control-label" for="customRadio1">Venta</label>

            </div>
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadio2" name="customRadio" value="proveedor" class="custom-control-input" data-bind="checked: display">
                <label class="custom-control-label" for="customRadio2">Compra</label>
            </div>
            <div class="form-group mt-2">
                <div data-bind="template: { name: currentDisplay() }"></div>
            </div>
        </div>

        <div class="form-group text-right">
            <a class="btn btn-light" data-bind="attr: { href: 'StockList' }">Cancelar</a>
            <input class="btn btn-primary" type="submit" value="Guardar">
        </div>
    </form>
</div>

<script id="productoTmpl" type="text/html">
    <a>
        <span data-bind="text: nombre"></span> - <span data-bind="text: color"></span>
    </a>
</script>

<script id="reciboTmpl" type="text/html">
    <a>
        <span data-bind="text: folio"></span> - <span data-bind="text: fecha"></span>
    </a>
</script>

<script type="text/html" id="recibo">
    <label>
        <strong>Folio de recibo</strong>
        <small class="text-muted">(Opcional)</small>
    </label>
    <input type="text" class="form-control" placeholder="Buscar y seleccionar folio del recibo" data-bind="jqAuto: { source: reciboRemoteHandler, value: reciboRemoteValue, inputProp: 'folio', labelProp: 'folio', valueProp: 'id', template: 'reciboTmpl' }, css: { 'is-invalid': reciboHasError() }" />
    <!-- ko if: reciboHasError() -->
        <div class="invalid-feedback">Seleccione un producto.</div>
    <!-- /ko  -->
</script>

<script type="text/html" id="proveedor">
    <label>
        <strong>Proveedor</strong>
        <small class="text-muted">(Opcional)</small>
    </label>
    <input type="text" class="form-control" placeholder="Buscar y seleccionar nombre del proveedor" data-bind="jqAuto: { source: proveedorRemoteHandler, value: proveedorRemoteValue, inputProp: 'empresa', labelProp: 'empresa', valueProp: 'id' }, css: { 'is-invalid': proveedorHasError() }" />
    <!-- ko if: proveedorHasError() -->
        <div class="invalid-feedback">Seleccione un producto.</div>
    <!-- /ko  -->
</script>