<script id="ConfirmDeleteModalBody" type="text/html">
    <p data-bind="text: message"></p>
</script>

<script id="ConfirmDeleteModalFooter" type="text/html">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
    <button type="button" class="btn btn-primary" data-bind="click: setToTrue">Sí</button>
</script>