@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container mt-5">
    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Clientes</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">Cotizaciones <small class="text-muted">/ Presupuestos</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Editar</li>
                    <li>Crear</li>
                    <li>Borrar</li>
                    <li>Visualizar</li>
                </ul>
                <a type="button" class="btn btn-lg btn-block btn-outline-primary" href="Clientes">Ir ahora</a>
            </div>
        </div>
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Proveedores</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">Contacto <small class="text-muted">/ Empresa</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Dirección</li>
                    <li>Teléfono</li>
                    <li>Horario</li>
                    <li>Etc.</li>
                </ul>
                <a type="button" class="btn btn-lg btn-block btn-primary" href="Proveedores">Consultar</a>
            </div>
        </div>
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Inventario</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">Materiales <small class="text-muted">/ Stock</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Descripcióm</li>
                    <li>Color</li>
                    <li>Cantidad en existencia</li>
                    <li>Precio</li>
                </ul>
                <a type="button" class="btn btn-lg btn-block btn-primary" href="Inventario">Actualizar</a>
            </div>
        </div>
    </div>
</div>